In [2]:
import pandas as pd
df = pd.read_csv('../data/NationalNames.csv')

In [3]:
df.head()

   Id       Name  Year Gender  Count
0   1       Mary  1880      F   7065
1   2       Anna  1880      F   2604
2   3       Emma  1880      F   2003
3   4  Elizabeth  1880      F   1939
4   5     Minnie  1880      F   1746

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1825433 entries, 0 to 1825432
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   Id      int64
 1   Name    object
 2   Year    int64
 3   Gender  object
 4   Count   int64
dtypes: int64(3), object(2)
memory usage: 69.6+ MB

In [5]:
df['Name'].value_counts()

Name
Jessie      270
Ollie       270
Jesse       270
Tommie      270
Johnnie     270
           ...
Zeidan        1
Shmeil        1
Shreehan      1
Shriyaan      1
Sidahmed      1
Name: count, Length: 93889, dtype: int64

In [6]:
df['Name'].nunique()

93889